<div class="page_title"></div><!-- red stripe --> 

  
<!-- Contant -->

<div class="container">

	<div class="content_fullwidth">
    
<div class="big_text1"><i>MT4 Demo Account Signup</i></div>



        <div class="one_half">
        <h6>MT4 Demo Registration</h6>

        			<div >

						<%= form_tag url_for("https://mpmarketing.infusionsoft.com/app/form/process/bef86eafadce6b7331e22d85ad598f47"), {:method => :post} do %>

								<%= hidden_field_tag("inf_form_xid", "bef86eafadce6b7331e22d85ad598f47") %>
								<%= hidden_field_tag("inf_form_name", "DIRECT FX Demo") %>
								<%= hidden_field_tag("infusionsoft_version", "1.29.5.41") %>

								
								<div class="comment_input_bg_wrapper"><%= text_field_tag 'inf_field_FirstName', nil, :placeholder => 'First Name', :class => "comment_input_bg"  %></div>
								<div class="comment_input_bg_wrapper"><%= text_field_tag 'inf_field_LastName', nil, :placeholder => 'Last Name', :class => "comment_input_bg"  %></div>
								<div class="comment_input_bg_wrapper"><%= text_field_tag 'inf_field_Email', nil, :placeholder => 'Email', :class => "comment_input_bg"   %></div>
								<div class="comment_input_bg_wrapper"><%= text_field_tag 'inf_field_Phone1', nil, :placeholder => 'Phone', :class => "comment_input_bg"   %></div>
								<%= country_select('inf_field_Country', 'Country', [ "Australia", "Great Britain", "France", "Germany" ]) %></br>

								<div class="comment_submit_wrapper_left"><%= submit_tag "Sign up now!", :class => "comment_submit"%></div>
								<% end %>
						</div>



        </div>
        
        <div class="one_half last">
        <h6>Segregated Client Funds</h6>

        <ul class="list5" style="padding-left: 28px;">

			<li>Email is our primary way of contacting you for completing the sign-up process and for ongoing client communication. Please be sure to give us the most up-to-date information. </li>
			<li>Residents of the United States cannot currently open accounts with DIRECT FX. Any promotional material, offers, or advertisements from DIRECT FX are not intended for and do not apply to U.S. residents.</li>

		</ul>

        </div>    

<div class="mar_top2"></div>

        <div class="content_fullwidth">

        	<p>Trading of foreign exchange contracts, contracts for difference, derivatives and other investment products which are leveraged, can carry a high level of risk. These products may not be suitable for all investors. It is possible to lose more than your initial investment. You should carefully consider whether trading is suitable for you in light of your circumstances, knowledge, and financial resources. Opinions, market data, and recommendations are subject to change at any time. All funds committed should be risk capital. Past performance is not necessarily indicative of future results. Please read the PDS and FSG before making any decision to trade Direct Fx products. The risks must be understood prior to trading.</p>
        </br>
        	<p>Read the:  Terms Of Service.</p>


			 </div>
        



			</div>

</div><!-- end main content area -->

<div class="mar_top5"></div>




<!-- Below this line is the content I need to replace the above placeholder with -->



