



<div class="clearfix"></div>
 
<!-- Slider
======================================= -->  

<div class="container_full" style="margin: -50px 0 0 0; padding-bottom:-50px;">
    
    <div class="fullwidthbanner-container">
    
		<div class="fullwidthbanner">
        
						<ul>
							<!-- SLIDE 1 -->
							<!-- <li data-transition="fade" data-slotamount="10" data-thumb="<% image_tag "slider-bg1.jpg" %>" >

                                <%= image_tag "slider-bg1.jpg" %>

								
<!-- 
								<div class="caption lft big_white"  data-x="0" data-y="85" data-speed="900" data-start="400" data-easing="easeOutExpo"><div class="display_text">Find the Benefits of trading with DirectFX</div></div> 
                                
								<div class="caption lft large_text"  data-x="0" data-y="160" data-speed="900" data-start="1100" data-easing="easeOutExpo"><div class="display_text">We Are Forex</div></div>
                                
<!-- 								<div class="caption lfb medium_grey"  data-x="0" data-y="235" data-speed="900" data-start="2000" data-easing="easeOutExpo"><div class="display_text">recommended to Highly Usable &amp; Clean, Professional theme</div></div> 
                                
                                <div class="caption lfb medium_grey"  data-x="0" data-y="290" data-speed="900" data-start="2500" data-easing="easeOutExpo"><%= image_tag "slider-h-line.png" %></div>
                                
                                <div class="caption lfb medium_grey"  data-x="0" data-y="282" data-speed="900" data-start="2600" data-easing="easeOutExpo"><div class="display_text"><div class="circle_two">want<br />more<br />?</div></div></div>
                                
                                <div class="caption lfb medium_grey"  data-x="0" data-y="345" data-speed="900" data-start="3400" data-easing="easeOutExpo"><div class="display_text"><%= image_tag "slider-curve-arrows.png" %></div></div>
                                
                                <div class="caption lfb medium_grey"  data-x="135" data-y="359" data-speed="900" data-start="3600" data-easing="easeOutExpo"><div class="circle_one">get 5<br /><i>diffrent</i><br />layouts</div></div>
                                
                                <div class="caption lfb small_text"  data-x="0" data-y="400" data-speed="900" data-start="4300" data-easing="easeOutExpo"><div class="display_text"><a href="#" class="button_slider">get started now!</a></div></div>
								
                                <div class="caption lfr medium_grey"  data-x="763" data-y="395" data-speed="900" data-start="5000" data-easing="easeOutExpo"><%= image_tag "slider-logo.png" %></div>
                                
                                <div class="caption lfb medium_grey"  data-x="778" data-y="335" data-speed="900" data-start="5700" data-easing="easeOutExpo"><div class="circle_three">html5</div></div>
                                
                                <div class="caption lfb medium_grey"  data-x="828" data-y="342" data-speed="900" data-start="5700" data-easing="easeOutExpo"><div class="circle_three">css3</div></div>
                                
                                <div class="caption lfb medium_grey"  data-x="860" data-y="380" data-speed="900" data-start="5700" data-easing="easeOutExpo"><div class="circle_three">jquery</div></div>
                                
                                <div class="caption lfb medium_grey"  data-x="850" data-y="430" data-speed="900" data-start="5700" data-easing="easeOutExpo"><div class="circle_three">php</div></div>
                                
                                <div class="caption lfb medium_grey"  data-x="810" data-y="455" data-speed="900" data-start="5700" data-easing="easeOutExpo"><div class="circle_three">design</div></div>
                                     
                                </li>                              
                                 -->
                            
                            <!-- SLIDE 2 -->
							<!-- <li data-transition="fade" data-slotamount="6" data-thumb="<% image_tag "slider-bg2.jpg" %>">
								
                                <%= image_tag "slider-bg2.jpg" %>
                                
                                <div class="caption sfb" data-x="400" data-y="0" data-speed="900" data-start="900" data-easing="easeOutSine">[image goes here]</div>

                                <div class="caption lft big_white"  data-x="10" data-y="100" data-speed="900" data-start="700" data-easing="easeOutExpo">Esay-to-Use</div>
								<div class="caption lft large_text_two"  data-x="10" data-y="149" data-speed="900" data-start="1300" data-easing="easeOutExpo">Awesome Sliders</div>
								<div class="caption lfb medium_grey"  data-x="10" data-y="220" data-speed="900" data-start="1900" data-easing="easeOutExpo">Benefits of Using Anova</div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="256" data-speed="900" data-start="2500" data-easing="easeOutExpo">It comes with Unique Pages and Awesome Slideshows,<br />Unique Color Variations. Easy-to-customize and fully<br /> featured design Theme suitable for Company, Business,<br /> Blog &amp; Portfolio Create Outstanding Website in Minutes!</div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="400" data-speed="900" data-start="3100" data-easing="easeOutExpo"><a href="#" class="button_slider_02">get started now!</a></div>
                               
							</li>
                             -->
                            <!-- SLIDE 3 -->
							<!-- <li data-transition="fade" data-slotamount="6" data-thumb="<% image_tag "slider-bg3.jpg" %>">
								
                                <%= image_tag "slider-bg3.jpg" %>
                                
                                <div class="caption lft" data-x="545" data-y="100" data-speed="900" data-start="700" data-easing="easeOutBack"><img src="http://placehold.it/433x334" alt="" /></div>
                                <div class="caption sfb" data-x="820" data-y="325" data-speed="900" data-start="1300" data-easing="easeOutBack"><img src="http://placehold.it/179x143" alt="" /></div>
                                <div class="caption sfb" data-x="515" data-y="235" data-speed="900" data-start="1900" data-easing="easeOutBack"><img src="http://placehold.it/152x197" alt="" /></div>                   
                                <div class="caption sfb" data-x="615" data-y="320" data-speed="900" data-start="2500" data-easing="easeOutSine"><img src="http://placehold.it/72x145" alt="" /></div>

                                <div class="caption lft big_white"  data-x="10" data-y="100" data-speed="900" data-start="700" data-easing="easeOutExpo">Desktop Tablet &amp; Mobiles</div>
								<div class="caption lft large_text_two"  data-x="10" data-y="149" data-speed="900" data-start="1300" data-easing="easeOutExpo">Responsive Theme</div>
								<div class="caption lfb medium_grey"  data-x="10" data-y="220" data-speed="900" data-start="1900" data-easing="easeOutExpo">Benefits of Using Anova</div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="256" data-speed="900" data-start="2500" data-easing="easeOutExpo">It comes with Unique Pages and Awesome Slideshows,<br />Unique Color Variations. Easy-to-customize and fully<br /> featured design Theme suitable for Company, Business,<br /> Blog &amp; Portfolio Create Outstanding Website in Minutes!</div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="400" data-speed="900" data-start="3100" data-easing="easeOutExpo"><a href="#" class="button_slider_02">get started now!</a></div>
                               
							</li> -->
                            
							
                            <!-- SLIDE 4 -->
	<!-- 						<li data-transition="fade" data-slotamount="6" data-thumb="<% image_tag "slider-bg2.jpg" %>">
								
                                <%= image_tag "slider-bg2.jpg" %>
                                
                                <div class="caption sfb" data-x="390" data-y="0" data-speed="900" data-start="900" data-easing="easeOutSine"><img src="http://placehold.it/650x560" alt="" /></div>

                                <div class="caption lft big_white"  data-x="10" data-y="100" data-speed="900" data-start="700" data-easing="easeOutExpo">Diffrent Color Variations</div>
								<div class="caption lft large_text_two"  data-x="10" data-y="149" data-speed="900" data-start="1300" data-easing="easeOutExpo">Headers &amp; Footers</div>
								<div class="caption lfb medium_grey"  data-x="10" data-y="220" data-speed="900" data-start="1900" data-easing="easeOutExpo">Benefits of Using Anova</div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="256" data-speed="900" data-start="2500" data-easing="easeOutExpo">It comes with Unique Pages and Awesome Slideshows,<br />Unique Color Variations. Easy-to-customize and fully<br /> featured design Theme suitable for Company, Business,<br /> Blog &amp; Portfolio Create Outstanding Website in Minutes!</div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="400" data-speed="900" data-start="3100" data-easing="easeOutExpo"><a href="#" class="button_slider_02">get started now!</a></div>
                               
							</li> -->
                            
							<!-- SLIDE 5 -->
							<li data-transition="fade" data-slotamount="6" data-thumb="<% image_tag "slider-bg3.jpg" %>">
								
                                <%= image_tag "slider-bg3.jpg" %>


                                
                                <div class="caption lft boxshadow" data-x="535" data-y="100" data-speed="900" data-start="700" data-easing="easeOutBack"><object data="http://www.youtube.com/embed/AGLNK5g6SXk?hd=1&amp;wmode=opaque&amp;controls=1&amp;showinfo=0" type="text/html" width="450" height="350"></object></div>

                                <div class="caption lft big_white"  data-x="10" data-y="100" data-speed="900" data-start="1300" data-easing="easeOutExpo"></div>
								<div class="caption lft large_text_two"  data-x="10" data-y="149" data-speed="900" data-start="1900" data-easing="easeOutExpo">We Are Forex</div>
								<div class="caption lfb medium_grey"  data-x="10" data-y="220" data-speed="900" data-start="2500" data-easing="easeOutExpo">Intelligent Trading<br /><br>Unique Advice </div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="256" data-speed="900" data-start="3100" data-easing="easeOutExpo"></div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="400" data-speed="900" data-start="3700" data-easing="easeOutExpo"><a href="#" class="button_slider">Start trading today!</a></div>
                               
							</li>
                            	
						</ul>
					</div>
				</div>


</div><!-- end slider -->

<div class="clearfix"></div>

<div class="punchline_text_home">

	<div class="container">
    
    	<h2>Anova is responsive, simple, clean and Professional featured theme
		<i>Suitable for Company, Business, Blog and Portfolio - Easy - to - customize - Create Outstanding Website in Minutes!</i></h2>
        
        <strong><a href="#" class="morebut">Know more</a></strong>
    
    </div>

</div><!-- end punchline text -->



<!-- boxed features -->
<!-- end boxed features -->
   


<!-- fresh works -->
<!-- end fresh works -->



<!-- recent news / blogs -->
<div class="fullgray_area">

<div class="container">

	<h2><i>recent</i> news/calendar</h2>
        
		<div class="one_third">
            <div class="framed-box">
                <div class="framed-box-wrap">
                    <div class="pricing-title">
                    <h3>Daily Reports</h3>
                    </div>
                    <div class="pricing-text-list">
                        <ul class="list7">
                        <li>There are many variations</li>
                        <li>Lorem Ipsum you need to be sure</li>
                        <li>Internet tend to repeat predefined</li>
                        <li>Latin words combined with</li>
                        <li>This book is treatise on the theory</li>
                        </ul>

                    
                    <p><%= link_to "Daily", daily_report_path, id: "daily", class: "but_hand_right" %></p>
                    </div>
                </div>
                
            </div>
        </div><!-- end section -->
        
        <div class="one_third">
            <div class="framed-box">
                <div class="framed-box-wrap">
                    <div class="pricing-title">
                    <h3>Weekly Reports</h3>
                    </div>
                    <div class="pricing-text-list">
                        <ul class="list2">
                        <li>There are many variations</li>
                        <li>Lorem Ipsum you need to be sure</li>
                        <li>Internet tend to repeat predefined</li>
                        <li>Latin words combined with</li>
                        <li>This book is treatise on the theory</li>
                        </ul>
                    
                    <p><%= link_to "Weekly", weekly_report_path, id: "weekly", class: "but_hand_right" %></p>
                    </div>
                </div>
                
            </div>
        </div><!-- end section -->
        
        <div class="one_third last">
            <div class="framed-box">
                <div class="framed-box-wrap">
                    <div class="pricing-title">
                    <h3>Economic Calendar</h3>
                    </div>
                    <div class="pricing-text-list">
                        <ul class="list4">
                        <li>There are many variations</li>
                        <li>Lorem Ipsum you need to be sure</li>
                        <li>Internet tend to repeat predefined</li>
                        <li>Latin words combined with</li>
                        <li>This book is treatise on the theory</li>
                        </ul>
                    
                    <p><%= link_to "Calendar", economic_calendar_path, id: "economic_calendar", class: "but_calendar" %></p>
                    </div>
                </div>
                
            </div>
        </div><!-- end section -->

    
</div>

</div><!-- end recent news / blogs -->


<div class="clearfix"></div>
<div class="mar_top4"></div>




<div class="clearfix mar_top4"></div>

<div class="bottom_hilight">

	<div class="container">

    	<div class="left">
        <iframe src="http://www.youtube.com/embed/Iyzxm3-5bRU?wmode=opaque" ></iframe>
        </div>
        
        <div class="right">
        	<strong>This section can be use for video or imp services or hilighted thing</strong>
            <p>All the Lorem Ipsum generators on the Internetis tend to repeat predefined chunks as necessary you need to be sure there isn't anything embarrassing hidden in the middle making therefore always free this the first true generator on the Internet.</p>
            <a href="#" class="trans_button">get more info</a>
        </div>
    	
    </div>
	
</div>

<div class="clearfix multy_hlines "></div>

<div class="container_full">

	<div class="people_says">
    
    	<div class="container">
        	
            <h2>What People Say<br /><i>Loved by Our Customers Around the World</i></h2>
            
        	<ul id="mycarouselfour" class="jcarousel-skin-tango">
            
                <li>
                    <%= image_tag("quotes1.png", class: "image_right11") %>
                    <p>There are many variations of passages of Ipsum available but the majority have suffered alteration in some form by humour randomise words which don't look even slightly believable. If you are going to use a passage of Ipsum you need to be sure there isn't anything hidden in the middle of generators on the Internet tend to repeat predefined chunks as necessary.</p> 
					<%= image_tag("quotes2.png", class: "image_right12") %>
                    <div class="who_pic">
                    <div class="name">
                    Madison Ava<br />
   					<i>customer</i>
                    </div>
                    <div class="picture"><img src="http://placehold.it/65x55" alt="" /></div>
                    
                    </div>
                </li>
                      
                <li>
                    <%= image_tag("quotes1.png", class: "image_right11") %>
                    <p>There are many variations of passages of Ipsum available but the majority have suffered alteration in some form by humour randomise words which don't look even slightly believable. If you are going to use a passage of Ipsum you need to be sure there isn't anything hidden in the middle of generators on the Internet tend to repeat predefined chunks as necessary.</p>
					<%= image_tag("quotes2.png", class: "image_right12") %>
                    <div class="who_pic">
                    <div class="name">
                    Mark Richardson<br />
   					<i>customer</i>
                    </div>
                    <div class="picture"><img src="http://placehold.it/65x55" alt="" /></div>
                    
                    </div>
                </li>
        
                <li>
                    <%= image_tag("quotes1.png", class: "image_right11") %>
                    <p>There are many variations of passages of Ipsum available but the majority have suffered alteration in some form by humour randomise words which don't look even slightly believable. If you are going to use a passage of Ipsum you need to be sure there isn't anything hidden in the middle of generators on the Internet tend to repeat predefined chunks as necessary.</p>
					<%= image_tag("quotes2.png", class: "image_right12") %>
                    <div class="who_pic">
                    <div class="name">
                    Anna Samantha<br />
   					<i>customer</i>
                    </div>
                    <div class="picture"><img src="http://placehold.it/65x55" alt="" /></div>
                    
                    </div>
                </li>
                
          </ul>
        
        </div>
        
    
    </div>


</div>




