
<div class="page_title"></div><!-- red stripe --> 
 
<!-- Slider ======================================= -->  
<div class="slider">
<ul class="bxslider">

  <li align="center"><%= video_tag "clipcanvas_14348_offline.mp4", controls: true, autobuffer: true%></li>
  <li align="center"><%= video_tag "https://ia600505.us.archive.org/3/items/Windows7WildlifeSampleVideo/Wildlife_512kb.mp4", controls: true, autobuffer: true%></li>
  <li align="center"><%= video_tag "http://playground.html5rocks.com/samples/html5_misc/chrome_japan.mp4", controls: true, autobuffer: true%></li>

</ul>
</div>


<div class="clearfix"></div>

<div class="punchline_text_home">

	<div class="container">
    
    	<h2>Direct FX is the best trading company in Australlia
		<i>It figures when you have a team made up of creme de la creme. &nbsp;Each team member will work hard for your interests.</i></h2>
        
        <strong><a href="#" class="morebut">Know more</a></strong>
    
    </div>

</div><!-- end punchline text -->



<!-- boxed features -->
<!-- end boxed features -->
   


<!-- fresh works -->
<!-- end fresh works -->



<!-- recent news / blogs -->
<div class="fullgray_area">

<div class="container">

	<h2><i>recent</i> news/calendar</h2>
        
		<div class="one_third">
            <div class="framed-box">
                <div class="framed-box-wrap">
                    <div class="pricing-title">
                    <h3>Daily Reports</h3>
                    </div>
                    <div class="pricing-text-list">
                        <ul class="list2">
                            <li>Start your day with the latest in breaking news</li>
                            <li>Currency specific headlines</li>
                            <li>Analysis on influential market place triggers</li>
                            <li>Geo political news and commentary</li>
                            <li>Historical daily reports available at no cost</li>
                        </ul>

                    
                    <p><%= link_to "Daily", daily_report_path, id: "daily", class: "but_hand_right" %></p>
                    </div>
                </div>
                
            </div>
        </div><!-- end section -->
        
        <div class="one_third">
            <div class="framed-box">
                <div class="framed-box-wrap">
                    <div class="pricing-title">
                    <h3>Weekly Reports</h3>
                    </div>
                    <div class="pricing-text-list">
                        <ul class="list2">
                            <li>Weekly reporting on past events</li>
                            <li>Look ahead with news and commentary</li>
                            <li>Reliable delivery straight to your inbox</li>
                            <li>Reports that matter to what you trade</li>
                            <li>Informative, efficient, relevant, FREE</li>
                        </ul>
                    
                    <p><%= link_to "Weekly", weekly_report_path, id: "weekly", class: "but_hand_right" %></p>
                    </div>
                </div>
                
            </div>
        </div><!-- end section -->
        
        <div class="one_third last">
            <div class="framed-box">
                <div class="framed-box-wrap">
                    <div class="pricing-title">
                    <h3>Economic Calendar</h3>
                    </div>
                    <div class="pricing-text-list">
                        <ul class="list2">
                            <li>Plan ahead with Economic Calendar</li>
                            <li>Access international economic reports in a single location</li>
                            <li>Filter based on report impact</li>
                            <li>Summary and full report access delivery</li>
                            <li>Charting and historical data available</li>
                        </ul>
                    
                    <p><%= link_to "Calendar", economic_calendar_path, id: "economic_calendar", class: "but_calendar" %></p>
                    </div>
                </div>
                
            </div>
        </div><!-- end section -->

    
</div>

</div><!-- end recent news / blogs -->


<div class="clearfix"></div>
<div class="mar_top4"></div>




<div class="clearfix mar_top4"></div>

<div class="bottom_hilight">

	<div class="container">

    	<div class="left">

                    
                <object data="http://www.youtube.com/embed/Iyzxm3-5bRU" type="text/html" >
                Your browser does not support video
                </object>

           
        </div>
        
        <div class="right">
        	<strong>Meet Our Leaders</strong>
            <p>Here we have a video of greg and joe dancing with a polar bear.  It really is a hiilarious sight to see.</p>
            <a href="#" class="trans_button">get more info</a>
        </div>
    	
    </div>
	
</div>

<div class="clearfix multy_hlines "></div>

<div class="container_full">

	<div class="people_says">
    
    	<div class="container">
        	
            <h2>What People Say<br /><i>Loved by Our Customers Around the World</i></h2>
            
        	<ul id="mycarouselfour" class="jcarousel-skin-tango">
            
                <li>
                    <%= image_tag("quotes1.png", class: "image_right11") %>
                    <p>There are many variations of passages of Ipsum available but the majority have suffered alteration in some form by humour randomise words which don't look even slightly believable. If you are going to use a passage of Ipsum you need to be sure there isn't anything hidden in the middle of generators on the Internet tend to repeat predefined chunks as necessary.</p> 
					<%= image_tag("quotes2.png", class: "image_right12") %>
                    <div class="who_pic">
                    <div class="name">
                    Madison Ava<br />
   					<i>customer</i>
                    </div>
                    <div class="picture"><img src="http://placehold.it/65x55" alt="" /></div>
                    
                    </div>
                </li>
                      
                <li>
                    <%= image_tag("quotes1.png", class: "image_right11") %>
                    <p>There are many variations of passages of Ipsum available but the majority have suffered alteration in some form by humour randomise words which don't look even slightly believable. If you are going to use a passage of Ipsum you need to be sure there isn't anything hidden in the middle of generators on the Internet tend to repeat predefined chunks as necessary.</p>
					<%= image_tag("quotes2.png", class: "image_right12") %>
                    <div class="who_pic">
                    <div class="name">
                    Mark Richardson<br />
   					<i>customer</i>
                    </div>
                    <div class="picture"><img src="http://placehold.it/65x55" alt="" /></div>
                    
                    </div>
                </li>
        
                <li>
                    <%= image_tag("quotes1.png", class: "image_right11") %>
                    <p>There are many variations of passages of Ipsum available but the majority have suffered alteration in some form by humour randomise words which don't look even slightly believable. If you are going to use a passage of Ipsum you need to be sure there isn't anything hidden in the middle of generators on the Internet tend to repeat predefined chunks as necessary.</p>
					<%= image_tag("quotes2.png", class: "image_right12") %>
                    <div class="who_pic">
                    <div class="name">
                    Anna Samantha<br />
   					<i>customer</i>
                    </div>
                    <div class="picture"><img src="http://placehold.it/65x55" alt="" /></div>
                    
                    </div>
                </li>
                
          </ul>
        
        </div>
        
    
    </div>


</div>




