



<div class="clearfix"></div>
 
<!-- Slider
======================================= -->  

<div class="container_full">
    
    <div class="fullwidthbanner-container">
    
		<div class="fullwidthbanner">
        
						<ul>
							<!-- SLIDE 1 -->
							<li data-transition="fade" data-slotamount="10" data-thumb="<% image_tag "slider-bg1.jpg" %>" >

                                <%= image_tag "slider-bg1.jpg" %>

								
<!-- 
								<div class="caption lft big_white"  data-x="0" data-y="85" data-speed="900" data-start="400" data-easing="easeOutExpo"><div class="display_text">Find the Benefits of trading with DirectFX</div></div> -->
                                
								<div class="caption lft large_text"  data-x="0" data-y="160" data-speed="900" data-start="1100" data-easing="easeOutExpo"><div class="display_text">We Are Forex</div></div>
                                
<!-- 								<div class="caption lfb medium_grey"  data-x="0" data-y="235" data-speed="900" data-start="2000" data-easing="easeOutExpo"><div class="display_text">recommended to Highly Usable &amp; Clean, Professional theme</div></div> -->
                                
                                <div class="caption lfb medium_grey"  data-x="0" data-y="290" data-speed="900" data-start="2500" data-easing="easeOutExpo"><%= image_tag "slider-h-line.png" %></div>
                                
                                <div class="caption lfb medium_grey"  data-x="0" data-y="282" data-speed="900" data-start="2600" data-easing="easeOutExpo"><div class="display_text"><div class="circle_two">want<br />more<br />?</div></div></div>
                                
                                <div class="caption lfb medium_grey"  data-x="0" data-y="345" data-speed="900" data-start="3400" data-easing="easeOutExpo"><div class="display_text"><%= image_tag "slider-curve-arrows.png" %></div></div>
                                
                                <div class="caption lfb medium_grey"  data-x="135" data-y="359" data-speed="900" data-start="3600" data-easing="easeOutExpo"><div class="circle_one">get 5<br /><i>diffrent</i><br />layouts</div></div>
                                
                                <div class="caption lfb small_text"  data-x="0" data-y="400" data-speed="900" data-start="4300" data-easing="easeOutExpo"><div class="display_text"><a href="#" class="button_slider">get started now!</a></div></div>
								
                                <div class="caption lfr medium_grey"  data-x="763" data-y="395" data-speed="900" data-start="5000" data-easing="easeOutExpo"><%= image_tag "slider-logo.png" %></div>
                                
                                <div class="caption lfb medium_grey"  data-x="778" data-y="335" data-speed="900" data-start="5700" data-easing="easeOutExpo"><div class="circle_three">html5</div></div>
                                
                                <div class="caption lfb medium_grey"  data-x="828" data-y="342" data-speed="900" data-start="5700" data-easing="easeOutExpo"><div class="circle_three">css3</div></div>
                                
                                <div class="caption lfb medium_grey"  data-x="860" data-y="380" data-speed="900" data-start="5700" data-easing="easeOutExpo"><div class="circle_three">jquery</div></div>
                                
                                <div class="caption lfb medium_grey"  data-x="850" data-y="430" data-speed="900" data-start="5700" data-easing="easeOutExpo"><div class="circle_three">php</div></div>
                                
                                <div class="caption lfb medium_grey"  data-x="810" data-y="455" data-speed="900" data-start="5700" data-easing="easeOutExpo"><div class="circle_three">design</div></div>
                                     
                                </li>                              
                                
                            
                            <!-- SLIDE 2 -->
							<li data-transition="fade" data-slotamount="6" data-thumb="<% image_tag "slider-bg2.jpg" %>">
								
                                <%= image_tag "slider-bg2.jpg" %>
                                
                                <div class="caption sfb" data-x="400" data-y="0" data-speed="900" data-start="900" data-easing="easeOutSine">[image goes here]</div>

                                <div class="caption lft big_white"  data-x="10" data-y="100" data-speed="900" data-start="700" data-easing="easeOutExpo">Esay-to-Use</div>
								<div class="caption lft large_text_two"  data-x="10" data-y="149" data-speed="900" data-start="1300" data-easing="easeOutExpo">Awesome Sliders</div>
								<div class="caption lfb medium_grey"  data-x="10" data-y="220" data-speed="900" data-start="1900" data-easing="easeOutExpo">Benefits of Using Anova</div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="256" data-speed="900" data-start="2500" data-easing="easeOutExpo">It comes with Unique Pages and Awesome Slideshows,<br />Unique Color Variations. Easy-to-customize and fully<br /> featured design Theme suitable for Company, Business,<br /> Blog &amp; Portfolio Create Outstanding Website in Minutes!</div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="400" data-speed="900" data-start="3100" data-easing="easeOutExpo"><a href="#" class="button_slider_02">get started now!</a></div>
                               
							</li>
                            
                            <!-- SLIDE 3 -->
							<li data-transition="fade" data-slotamount="6" data-thumb="<% image_tag "slider-bg3.jpg" %>">
								
                                <%= image_tag "slider-bg3.jpg" %>
                                
                                <div class="caption lft" data-x="545" data-y="100" data-speed="900" data-start="700" data-easing="easeOutBack"><img src="http://placehold.it/433x334" alt="" /></div>
                                <div class="caption sfb" data-x="820" data-y="325" data-speed="900" data-start="1300" data-easing="easeOutBack"><img src="http://placehold.it/179x143" alt="" /></div>
                                <div class="caption sfb" data-x="515" data-y="235" data-speed="900" data-start="1900" data-easing="easeOutBack"><img src="http://placehold.it/152x197" alt="" /></div>                   
                                <div class="caption sfb" data-x="615" data-y="320" data-speed="900" data-start="2500" data-easing="easeOutSine"><img src="http://placehold.it/72x145" alt="" /></div>

                                <div class="caption lft big_white"  data-x="10" data-y="100" data-speed="900" data-start="700" data-easing="easeOutExpo">Desktop Tablet &amp; Mobiles</div>
								<div class="caption lft large_text_two"  data-x="10" data-y="149" data-speed="900" data-start="1300" data-easing="easeOutExpo">Responsive Theme</div>
								<div class="caption lfb medium_grey"  data-x="10" data-y="220" data-speed="900" data-start="1900" data-easing="easeOutExpo">Benefits of Using Anova</div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="256" data-speed="900" data-start="2500" data-easing="easeOutExpo">It comes with Unique Pages and Awesome Slideshows,<br />Unique Color Variations. Easy-to-customize and fully<br /> featured design Theme suitable for Company, Business,<br /> Blog &amp; Portfolio Create Outstanding Website in Minutes!</div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="400" data-speed="900" data-start="3100" data-easing="easeOutExpo"><a href="#" class="button_slider_02">get started now!</a></div>
                               
							</li>
                            
							
                            <!-- SLIDE 4 -->
							<li data-transition="fade" data-slotamount="6" data-thumb="<% image_tag "slider-bg2.jpg" %>">
								
                                <%= image_tag "slider-bg2.jpg" %>
                                
                                <div class="caption sfb" data-x="390" data-y="0" data-speed="900" data-start="900" data-easing="easeOutSine"><img src="http://placehold.it/650x560" alt="" /></div>

                                <div class="caption lft big_white"  data-x="10" data-y="100" data-speed="900" data-start="700" data-easing="easeOutExpo">Diffrent Color Variations</div>
								<div class="caption lft large_text_two"  data-x="10" data-y="149" data-speed="900" data-start="1300" data-easing="easeOutExpo">Headers &amp; Footers</div>
								<div class="caption lfb medium_grey"  data-x="10" data-y="220" data-speed="900" data-start="1900" data-easing="easeOutExpo">Benefits of Using Anova</div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="256" data-speed="900" data-start="2500" data-easing="easeOutExpo">It comes with Unique Pages and Awesome Slideshows,<br />Unique Color Variations. Easy-to-customize and fully<br /> featured design Theme suitable for Company, Business,<br /> Blog &amp; Portfolio Create Outstanding Website in Minutes!</div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="400" data-speed="900" data-start="3100" data-easing="easeOutExpo"><a href="#" class="button_slider_02">get started now!</a></div>
                               
							</li>
                            
							<!-- SLIDE 5 -->
							<li data-transition="fade" data-slotamount="6" data-thumb="<% image_tag "slider-bg3.jpg" %>">
								
                                <%= image_tag "slider-bg3.jpg" %>
                                
                                <div class="caption lft boxshadow" data-x="535" data-y="100" data-speed="900" data-start="700" data-easing="easeOutBack"><iframe src="http://www.youtube.com/embed/AGLNK5g6SXk?hd=1&amp;wmode=opaque&amp;controls=1&amp;showinfo=0" width="450" height="350"></iframe></div>

                                <div class="caption lft big_white"  data-x="10" data-y="100" data-speed="900" data-start="1300" data-easing="easeOutExpo">Vimeo, YouTube Videos</div>
								<div class="caption lft large_text_two"  data-x="10" data-y="149" data-speed="900" data-start="1900" data-easing="easeOutExpo">Vimeo &amp; Youtube</div>
								<div class="caption lfb medium_grey"  data-x="10" data-y="220" data-speed="900" data-start="2500" data-easing="easeOutExpo">Benefits of Using Anova</div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="256" data-speed="900" data-start="3100" data-easing="easeOutExpo">It comes with Unique Pages and Awesome Slideshows,<br />Unique Color Variations. Easy-to-customize and fully<br /> featured design Theme suitable for Company, Business,<br /> Blog &amp; Portfolio Create Outstanding Website in Minutes!</div>
                                
                                <div class="caption lfb small_text"  data-x="10" data-y="400" data-speed="900" data-start="3700" data-easing="easeOutExpo"><a href="#" class="button_slider_02">get started now!</a></div>
                               
							</li>
                            	
						</ul>
					</div>
				</div>


</div><!-- end slider -->

<div class="clearfix"></div>

<div class="punchline_text_home">

	<div class="container">
    
    	<h2>Anova is responsive, simple, clean and Professional featured theme
		<i>Suitable for Company, Business, Blog and Portfolio - Easy - to - customize - Create Outstanding Website in Minutes!</i></h2>
        
        <strong><a href="#" class="morebut">Know more</a></strong>
    
    </div>

</div><!-- end punchline text -->

<div class="clearfix mar_top8"></div>

<!-- boxed features -->
<div class="container">
    	
    <div class="one_third">
    
    	<div class="site_boxedfeatures_two">
        	<img src="http://placehold.it/230x140" alt="" />
            <h2>web development</h2>
            <p>Lorem Ipsum, you need to be sure there embarrassing hidden in the middle</p>
            <div class="clearfix mar_top2"></div>
            <a href="#" class="but_rightarrow">Read more</a> 
        </div>
        
    </div><!-- end section -->
    
    <div class="one_third">
    
    	<div class="site_boxedfeatures_two ">
        	<img src="http://placehold.it/230x140" alt="" />
            <h2>internet marketing</h2>
            <p>Lorem Ipsum, you need to be sure there embarrassing hidden in the middle</p>
            <div class="clearfix mar_top2"></div>
            <a href="#" class="but_rightarrow">Read more</a> 
        </div>
        
    </div><!-- end section -->
    
    <div class="one_third last">
    
    	<div class="site_boxedfeatures_two">
        	<img src="http://placehold.it/230x140" alt="" />
            <h2>benefit for business</h2>
            <p>Lorem Ipsum, you need to be sure there embarrassing hidden in the middle</p>
            <div class="clearfix mar_top2"></div>
            <a href="#" class="but_rightarrow">Read more</a> 
        </div>
        
    </div><!-- end section -->

</div><!-- end boxed features -->
   

<div class="clearfix mar_top8"></div>

<!-- fresh works -->
<div class="fullgray_area">

<div class="container">

	<h2><i>fresh</i> Works</h2>
    
    <div class="fresh_works">
        
          <ul id="mycarousel" class="jcarousel-skin-tango">
            <li>
                <div class="item">
                    <a href="#"><img src="http://placehold.it/235x200" alt="" title="" /></a>
                    <div class="caption">
                        <a href="portfolio-one.html">varius malesuada</a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        <i>+</i>
                        </p>
                    </div>
                </div>
            </li>
            
            <li>
            	<div class="item">
                    <a href="#"><img src="http://placehold.it/235x200" alt="" title="" /></a>
                    <div class="caption">
                        <a href="portfolio-one.html">standard text ever</a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        <i>+</i>
                        </p>
                    </div>
                </div>
            </li>
            
            <li>
            	<div class="item">
                    <a href="#"><img src="http://placehold.it/235x200" alt="" title="" /></a>
                    <div class="caption">
                        <a href="portfolio-one.html">electro typesetting</a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        <i>+</i>
                        </p>
                    </div>
                </div>
            </li>
            
            <li>
            	<div class="item">
                    <a href="#"><img src="http://placehold.it/235x200" alt="" title="" /></a>
                    <div class="caption">
                        <a href="portfolio-one.html">desktop publishing</a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        <i>+</i>
                        </p>
                    </div>
                </div>
            </li>
            
            <li>
            	<div class="item">
                    <a href="#"><img src="http://placehold.it/235x200" alt="" title="" /></a>
                    <div class="caption">
                        <a href="portfolio-one.html">going to passage</a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        <i>+</i>
                        </p>
                    </div>
                </div>
            </li>
            
            <li>
            	<div class="item">
                    <a href="#"><img src="http://placehold.it/235x200" alt="" title="" /></a>
                    <div class="caption">
                        <a href="portfolio-one.html">randomised words</a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        <i>+</i>
                        </p>
                    </div>
                </div>
            </li>
   
          </ul>

	</div>
    
</div>

</div><!-- end fresh works -->

<div class="clearfix mar_top4"></div>

<div class="container">

	<div class="one_half">
    
    	<div class="about_site">
        
        	<h2><i>about</i> website</h2>
            <img src="http://placehold.it/485x170" alt="" class="image_left" />
            <strong>Easy-to-Customize and fully Featured Design Suitable for Company, Business, Blog and Portfolio. Create Outstanding Website or Blog in Minutes!</strong>
            <div class="clearfix mar_top6"></div>
            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary making this the first true generato on the Internet uses a dictionary Lorem Ipsum which looks reasonable non charact eristic words.</p>
        
        </div>
        
    </div><!-- end about site area -->
    
    <div class="one_half last">
    
    	<div class="get_features">
        
        	<h2><i>Get</i> Features</h2>
            
            <div class="one_half">
            
                <ul class="get_features_list">
                    <li class="left"><%= image_tag "site-icon5.png" %></li>
                    <li class="right">
                    <h5>Smart and Flexible</h5>
                    <p>Lorem lpsum simply dummy typesetting industry ever.</p></li>
                </ul>
                
                <ul class="get_features_list">
                    <li class="left"><%= image_tag "site-icon7.png" %></li>
                    <li class="right">
                    <h5>40+ HTML Pages</h5>
                    <p>Lorem lpsum simply dummy typesetting industry ever.</p></li>
                </ul>
                
                <ul class="get_features_list">
                    <li class="left"><%= image_tag "site-icon9.png" %></li>
                    <li class="right">
                    <h5>Different Websites</h5>
                    <p>Lorem lpsum simply dummy typesetting industry ever.</p></li>
                </ul>
                
                <ul class="get_features_list last">
                    <li class="left"><%= image_tag "site-icon11.png" %></li>
                    <li class="right">
                    <h5>Layered PSD Files</h5>
                    <p>Lorem lpsum simply dummy typesetting industry ever.</p></li>
                </ul>
                
            </div>
            
            <div class="one_half last">
            
                <ul class="get_features_list">
                    <li class="left"><%= image_tag "site-icon6.png" %></li>
                    <li class="right">
                    <h5>Fully Responsive</h5>
                    <p>Lorem lpsum simply dummy typesetting industry ever.</p></li>
                </ul>
                
                <ul class="get_features_list">
                    <li class="left"><%= image_tag "site-icon8.png" %></li>
                    <li class="right">
                    <h5>Well Structured</h5>
                    <p>Lorem lpsum simply dummy typesetting industry ever.</p></li>
                </ul>
                
                <ul class="get_features_list">
                    <li class="left"><%= image_tag "site-icon10.png" %></li>
                    <li class="right">
                    <h5>Fullwidth &amp; Boxed</h5>
                    <p>Lorem lpsum simply dummy typesetting industry ever.</p></li>
                </ul>
                
                <ul class="get_features_list last">
                    <li class="left"><%= image_tag "site-icon12.png" %></li>
                    <li class="right">
                    <h5>Cross Browsered</h5>
                    <p>Lorem lpsum simply dummy typesetting industry ever.</p></li>
                </ul>
                
            </div>
            
            
            
        </div>
        
        
    </div><!-- end get features -->

</div>


<div class="clearfix mar_top4"></div>

<!-- recent news / blogs -->
<div class="fullgray_area">

<div class="container">

	<h2><i>recent</i> news/blogs</h2>
    
    <div class="recent_newsblgos">
        
		<ul id="mycarouseltwo" class="jcarousel-skin-tango">
          
            <li>
                <div class="section">
                	<div class="image"><img src="http://placehold.it/235x235" alt="" /></div>
                    <div class="contarea">
                    <h6><a href="#">many web sites always</a></h6>
                    <ul class="share_icons">
                    	<li class="left"><p>Share:</p></li>
                        <li><a href="#"><%= image_tag "share-icon1.png" %></a></li>
                        <li><a href="#"><%= image_tag "share-icon2.png" %></a></li>
                        <li><a href="#"><%= image_tag "share-icon3.png" %></a></li>
                        <li class="like">4</li>
                    </ul>
                    </div>
                </div>
            </li>
            
            <li>
                <div class="section">
                	<div class="image"><img src="http://placehold.it/235x235" alt="" /></div>
                    <div class="contarea">
                    <h6><a href="#">Lorem Ipsum available</a></h6>
                    <ul class="share_icons">
                    	<li class="left"><p>Share:</p></li>
                        <li><a href="#"><%= image_tag "share-icon1.png" %></a></li>
                        <li><a href="#"><%= image_tag "share-icon2.png" %></a></li>
                        <li><a href="#"><%= image_tag "share-icon3.png" %></a></li>
                        <li class="like">4</li>
                    </ul>
                    </div>
                </div>
            </li>
            
            <li>
                <div class="section">
                	<div class="image"><img src="http://placehold.it/235x235" alt="" /></div>
                    <div class="contarea">
                    <h6><a href="#">treatise the theory</a></h6>
                    <ul class="share_icons">
                    	<li class="left"><p>Share:</p></li>
                        <li><a href="#"><%= image_tag "share-icon1.png" %></a></li>
                        <li><a href="#"><%= image_tag "share-icon2.png" %></a></li>
                        <li><a href="#"><%= image_tag "share-icon3.png" %></a></li>
                        <li class="like">4</li>
                    </ul>
                    </div>
                </div>
            </li>
            
            <li>
                <div class="section">
                	<div class="image"><img src="http://placehold.it/235x235" alt="" /></div>
                    <div class="contarea">
                    <h6><a href="#">classical literature</a></h6>
                    <ul class="share_icons">
                    	<li class="left"><p>Share:</p></li>
                        <li><a href="#"><%= image_tag "share-icon1.png" %></a></li>
                        <li><a href="#"><%= image_tag "share-icon2.png" %></a></li>
                        <li><a href="#"><%= image_tag "share-icon3.png" %></a></li>
                        <li class="like">4</li>
                    </ul>
                    </div>
                </div>
            </li>
            
            <li>
                <div class="section">
                	<div class="image"><img src="http://placehold.it/235x235" alt="" /></div>
                    <div class="contarea">
                    <h6><a href="#">publishing software</a></h6>
                    <ul class="share_icons">
                    	<li class="left"><p>Share:</p></li>
                        <li><a href="#"><%= image_tag "share-icon1.png" %></a></li>
                        <li><a href="#"><%= image_tag "share-icon2.png" %></a></li>
                        <li><a href="#"><%= image_tag "share-icon3.png" %></a></li>
                        <li class="like">4</li>
                    </ul>
                    </div>
                </div>
            </li>
            
            <li>
                <div class="section">
                	<div class="image"><img src="http://placehold.it/235x235" alt="" /></div>
                    <div class="contarea">
                    <h6><a href="#">going through the cites</a></h6>
                    <ul class="share_icons">
                    	<li class="left"><p>Share:</p></li>
                        <li><a href="#"><%= image_tag "share-icon1.png" %></a></li>
                        <li><a href="#"><%= image_tag "share-icon2.png" %></a></li>
                        <li><a href="#"><%= image_tag "share-icon3.png" %></a></li>
                        <li class="like">4</li>
                    </ul>
                    </div>
                </div>
            </li>

		</ul>

	</div>
    
</div>

</div><!-- end recent news / blogs -->


<div class="clearfix"></div>
<div class="mar_top4"></div>

<div class="container">

	<h2><i>our</i> clients/partners</h2>
    
    <div class="clients">
        
		<ul id="mycarouselthree" class="jcarousel-skin-tango"> 
          
            <li><a href="http://themeforest.net/item/manamix-responsive-multipurpose-template/4123633" target="_blank"><%= image_tag "client-logo1.png" %></a></li>
            <li><a href="http://themeforest.net/item/nest-hosting-responsive-hosting-theme/4240971" target="_blank"><%= image_tag "client-logo2.png" %></a></li>
            <li><a href="http://themeforest.net/item/qupstro-responsive-multipurpose-template/4377572" target="_blank"><%= image_tag "client-logo3.png" %></a></li>
            <li><a href="http://themeforest.net/item/rexaneo-responsive-multipurpose-html5-template/4570215" target="_blank"><%= image_tag "client-logo4.png" %></a></li>
            <li><a href="http://themeforest.net/item/aitynikon-responsive-multipurpose-template/4740841" target="_blank"><%= image_tag "client-logo5.png" %></a></li>
            <li><a href="http://themeforest.net/item/aivan-responsive-multipurpose-template/5028712" target="_blank"><%= image_tag "client-logo6.png" %></a></li>
            <li><a href="http://themeforest.net/item/aox-host-responsive-hosting-theme/5100917" target="_blank"><%= image_tag "client-logo7.png" %></a></li>

		</ul>

	</div>

</div><!-- end clients -->


<div class="clearfix mar_top4"></div>

<div class="bottom_hilight">

	<div class="container">

    	<div class="left">
        <iframe src="http://www.youtube.com/embed/Iyzxm3-5bRU?wmode=opaque" ></iframe>
        </div>
        
        <div class="right">
        	<strong>This section can be use for video or imp services or hilighted thing</strong>
            <p>All the Lorem Ipsum generators on the Internetis tend to repeat predefined chunks as necessary you need to be sure there isn't anything embarrassing hidden in the middle making therefore always free this the first true generator on the Internet.</p>
            <a href="#" class="trans_button">get more info</a>
        </div>
    	
    </div>
	
</div>

<div class="clearfix multy_hlines"></div>

<div class="container">

	<div class="people_says">
    
    	<div class="container">
        	
            <h2>What People Say’s<br /><i>Loved by Our Customers Around the World</i></h2>
            
        	<ul id="mycarouselfour" class="jcarousel-skin-tango">
            
                <li>
                    <%= image_tag("quotes1.png", class: "image_right11") %>
                    <p>There are many variations of passages of Ipsum available but the majority have suffered alteration in some form by humour randomise words which don't look even slightly believable. If you are going to use a passage of Ipsum you need to be sure there isn't anything hidden in the middle of generators on the Internet tend to repeat predefined chunks as necessary.</p> 
					<%= image_tag("quotes2.png", class: "image_right12") %>
                    <div class="who_pic">
                    <div class="name">
                    Madison Ava<br />
   					<i>customer</i>
                    </div>
                    <div class="picture"><img src="http://placehold.it/65x55" alt="" /></div>
                    
                    </div>
                </li>
                      
                <li>
                    <%= image_tag("quotes1.png", class: "image_right11") %>
                    <p>There are many variations of passages of Ipsum available but the majority have suffered alteration in some form by humour randomise words which don't look even slightly believable. If you are going to use a passage of Ipsum you need to be sure there isn't anything hidden in the middle of generators on the Internet tend to repeat predefined chunks as necessary.</p>
					<%= image_tag("quotes2.png", class: "image_right12") %>
                    <div class="who_pic">
                    <div class="name">
                    Mark Richardson<br />
   					<i>customer</i>
                    </div>
                    <div class="picture"><img src="http://placehold.it/65x55" alt="" /></div>
                    
                    </div>
                </li>
        
                <li>
                    <%= image_tag("quotes1.png", class: "image_right11") %>
                    <p>There are many variations of passages of Ipsum available but the majority have suffered alteration in some form by humour randomise words which don't look even slightly believable. If you are going to use a passage of Ipsum you need to be sure there isn't anything hidden in the middle of generators on the Internet tend to repeat predefined chunks as necessary.</p>
					<%= image_tag("quotes2.png", class: "image_right12") %>
                    <div class="who_pic">
                    <div class="name">
                    Anna Samantha<br />
   					<i>customer</i>
                    </div>
                    <div class="picture"><img src="http://placehold.it/65x55" alt="" /></div>
                    
                    </div>
                </li>
                
          </ul>
        
        </div>
        
    
    </div>


</div>


<div class="clearfix bottom_buildings"></div><!-- end buildings graph -->

