
<div style="background-color: #FFF;">
<div class="clearfix" ></div>
 
<div class="page_title">
<!-- 
	<div class="container">
		<div class="title"><h1>Who We Are</h1></div>
        <div class="pagenation"><a href="index.html">Home</a> <i>/</i> <a href="#">Pages</a> <i>/</i> Full Width Page</div>
	</div>
 --></div><!-- end page title --> 

<div class="clearfix"></div>   
 

<!-- Contant
======================================= -->

<div class="container">

	<div class="content_fullwidth">
    
    <div class="one_full">
    
    <div class="big_text1">Introducing Brokers</div>


<div class="one_third"> <%= image_tag("woman_handshake.jpg") %> </div>
       <div class="two_third last"></br></br></br>
      <h6>Are you a Broker or Affiliate that currently offers FX services or that is looking to expand your business?</h6>
    </div>
 
    <div class="clearfix divider_line2"></div>



        
        <div class="one_third">

        	<%= form_tag url_for("https://mpmarketing.infusionsoft.com/app/form/process/352971fdb6841dc292b3bb5e67ade627"), {:class => 'contact_form', :name => 'contact_form', :method => :post} do %>

								<%= hidden_field_tag("inf_form_xid", "352971fdb6841dc292b3bb5e67ade627") %>
								<%= hidden_field_tag("inf_form_name", "Introducing Broker Form") %>
								<%= hidden_field_tag("infusionsoft_version", "1.29.6.37") %>

								
								<div class="comment_input_bg_wrapper"><%= text_field_tag 'inf_field_FirstName', nil, :placeholder => 'First Name', :class => "comment_input_bg", :required => true  %></div>
								<div class="comment_input_bg_wrapper"><%= text_field_tag 'inf_field_LastName', nil, :placeholder => 'Last Name', :class => "comment_input_bg", :required => true  %></div>
								<div class="comment_input_bg_wrapper"><%= text_field_tag 'inf_field_Email', nil, :placeholder => 'Email', :class => "comment_input_bg", :required => true   %></div>
								<div class="comment_input_bg_wrapper"><%= text_field_tag 'inf_field_Phone1', nil, :placeholder => 'Phone', :class => "comment_input_bg", :required => true, :pattern => '(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})'   %></div>
								<div class="comment_input_bg_wrapper"><%= text_field_tag 'inf_field_Company', nil, :placeholder => 'Company', :class => "comment_input_bg", :required => true   %></div>
								<div class="comment_input_bg_wrapper"><%= text_field_tag 'inf_field_JobTitle', nil, :placeholder => 'Job Title', :class => "comment_input_bg", :required => true   %></div>
								<div class="comment_input_bg_wrapper"><%= text_field_tag 'inf_field_Website', nil, :placeholder => 'Website', :class => "comment_input_bg", :required => true   %></div>

    

</br></br></br></br></br></br></br></br></br>
								<div class="comment_submit_wrapper_left"><%= submit_tag "Sign up now!", :class => "comment_submit", :style => "padding: 6px 6px 25px 6px;"%></div>
								<% end %>
    

    
    </div><!-- end section -->


    <div class="two_third last">



<p>We are currently looking to expand our business globally. We would be pleased to speak with you regarding our Introducing Broker and Affiliate program. We offer our partners a full suite of services including the following:</p>

<ul class="list4">
		<li>Lucrative payouts - get paid promptly and reliably through various methods</li>
		<li>High paying RevShare commission options</li>
		<li>Get personalized links, banners, and landing pages to ensure your clients are identified properly</li>
		<li>Dedicated account manager &amp; regularly updated creatives</li>
		<li>Full back office &amp; administrative services</li>
		<li>Tailor made conditions for your clients</li>
		<li>Advanced marketing tools - use all the promotional tools you need</li>
		<li>Industry leading Forex trading platform - promote the most popular platform in the industry MetaTrader 4! MT4 is suitable for all potential traders of all levels</li>
		<li>Assistance with advertising, cross mailings, and joint ventures</li>
        <li>Prompt and accurate commission payments</li>
        <li>Very competitive and flexible compensation packages</li>
        <li>Branded online applications</li>
        <li>Automated branded AML/KYC process helps many accounts open in as little at 10 minutes</li>
        <li>Brand the world's leading trading platform (desktop and mobile applications)</li>
        <li>Web development from turn key solutions to simple SEO assistance</li>
        <li>Automated sales process</li>
        <li>Access to our education partners</li>
        <li>24-hour customer, technical, and dealing support</li>
        <li>IB coordinator dedicated to assist IBs with marketing and operational issues</li>
        <li>Online password protected IB business report so you can manage your Forex business at your own schedule</li>
        <li>Informative online tutorials</li>
        <li>Ability to build your sub-IB network</li>
        <li>Email marketing campaign assistance</li>
        <li>Tools to build your own FX business (online banners, widgets, white labels and more…)</li>
        <li>No start-up cost</li>
</ul>
You can only participate in the Direct FX Partnership program if it complies with applicable regulations and laws.
    

    </div>


    

  
    </div><!-- end section -->
	
    <div class="clearfix mar_top3"></div>


</div>

</div><!-- end main content area -->
