<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en-gb" class="no-js"-->
<head>
  <title><%= title %></title>  <!--- this is a function defined in the ApplicationHelper -->
    
	
    <meta name="keywords" content="FX,trading,options,calls,puts,australlia,broker" />
    <meta name="description" content="An Australlian FX trading firm." />
    <!-- Favicon --> 
    <%= favicon_link_tag 'favicon.ico' %>
	<!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Google fonts - witch you want to use - (rest you can just remove) -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
  <%= javascript_include_tag    "html5", media: "all", "data-turbolinks-track" => true %>
  <![endif]-->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>



</head>
<body>

<div class="site_wrapper">

    <div class="container_full">
    	
        <div class="menu_sticky">
          
        <!-- top show hide --> 
        <div class="slidingDiv">
                
            <div class="top_contact_info">
                <div class="container">
                    <ul class="tci_list_left">
                        <li><%= link_to "Home", root_path %></li>
                        <li>|</li>
                        <li><a href="#">Help</a></li>
                        <li>|</li>
                        <li><a href="#">FAQs</a></li>
                        <li>|</li>
                        <li><a href="#">Add Funds</a></li>
                    </ul>
                
                    <ul class="tci_list">

                    
                        <li class="phone">+61 2 8038-5093</li>
                        <li class="email"><a href="mailto:info@Direct FX.com">info@directfx.com</a></li>
                        <li><a href="#"><%= image_tag("top_si1.png") %></a></li>
                        <li><a href="#"><%= image_tag("top_si2.png") %></a></li>
                        <li><a href="#"><%= image_tag("top_si_linkedin.png") %></a></li>
                         
                    </ul>
                </div>
            </div><!-- end top contact info -->
        
        </div>
        
        <div class="top-border-line"></div>
        <div class="container"><div class="show_hide_butr"><div class="show_hide"></div></div></div>
        <!-- end top show hide --> 
        
        <div class="top_section">
    
    	<div class="container">

    		<div class="one_fourth"><div id="logo"><%= link_to( image_tag('directfx_logo.png'), root_url) %></div></div><!-- end logo -->
            	
            <div class="three_fourth last">
               
                              <nav id="access" class="access" role="navigation">
               
                <div id="menu" class="menu">
                    
                    <ul id="tiny">
                    
                        <li><%= link_to "Who We Are",  '#'%>
                            <!-- <a href="index.html" class="active">Who We Are</a> -->
                        
                            <ul> 
                                <li><a href="#" class="arrow"><%= image_tag("menu-drop-arrow.png", class: "arrow") %></a></li>
                                <li><%= link_to "About Us", who_url %></li>
                                <li><%= link_to "Regulations", regulation_url %></li>
                                <li><%= link_to "Press Releases", press_release_url %></li>

                            </ul>
                         </li>  
                        
                        <li><%= link_to "Products", '#' %>
                        
                            <ul>
                                <li><a href="#" class="arrow"><%= image_tag("menu-drop-arrow.png", class: "arrow") %></a></li>
                                <li><%= link_to "Forex", '#' %></li>
                                <li><%= link_to "Metals", '#' %></li>
                                <li><%= link_to "Binary Options", binary_options_url %></li>
                                <li><%= link_to "CFD", '#' %></li>
                                <li><%= link_to "Futures", '#' %></li>
                            </ul>
                            
                        </li>

                        <li><%= link_to "Platforms", '#' %>
                        
                            <ul>
                                <li><a href="#" class="arrow"><%= image_tag("menu-drop-arrow.png", class: "arrow") %></a></li>
                                <li> <%= link_to "MetaTrader 4", '#' %>
                                            <ul>
                                                 <li><%= link_to "MT4 Demo Account", mt4_demo_account_signup_url %></li>
                                                 <li><%= link_to "MT4 Live Account", mt4_live_account_signup_url %></li>
                                            </ul>
                                   
                                </li>
                                <li><%= link_to 'Liquidity Direct', '#' %>
                                            <ul>
                                                 <li><%= link_to "LD Demo Account", '#' %></li>
                                                 <li><%= link_to "LD Live Account", '#' %></li>
                                            </ul>
                                   

                                </li>
                                <li><%= link_to 'Currensee', currensee_url %>
                                   

                                </li>
                            </ul>
                            
                        </li>
                        
                        <li><a href="#">Resource Center</a>
                        
                            <ul>
                                <li><a href="#" class="arrow"><%= image_tag("menu-drop-arrow.png", class: "arrow") %></a></li>
                                <li><%= link_to "Economic Calendar", economic_calendar_url %></li>
                                <li><%= link_to "Daily Market Report", daily_report_url %></li>
                                <li><%= link_to "Weekly Market Report", weekly_report_url %></li>
                                <li><%= link_to "Subscribe", '#' %></li>

                            </ul>
                        </li>
                        
                        <li><%= link_to "Funding", '#' %> <!-- do this -->
                        
                            <ul>
                                <li><a href="#" class="arrow"><%= image_tag("menu-drop-arrow.png", class: "arrow") %></a></li>
                            </ul>
                        </li>
                        
                          
                        <li><a href="#">Partner With Us</a>
                        
                            <ul>
                                <li><a href="#" class="arrow"><%= image_tag("menu-drop-arrow.png", class: "arrow") %></a></li>
                            </ul>
                        </li>
                        
                        <li class="last"><a href="#" >Contact</a>
                                                        <ul>
                                <li><a href="#" class="arrow"><%= image_tag("menu-drop-arrow.png", class: "arrow") %></a></li>
                                <li><%= link_to "Get In Touch", contact_url %></li>
                            </ul>

                        </li>

                    
                        
                    </ul>
                    
                </div>
                
            </nav><!-- end nav menu -->
          
        	</div>
                

		</div> 

	</div>
    
    </div>

</div><!-- end top -->

<%= yield %>

<div class="clearfix" ></div>
<div class="mar_top3" ></div>

<div class="clearfix bottom_buildings" ></div><!-- end buildings graph -->
</div>

<!-- Footer ======================================= -->

<div id="footer">

<div class="footer_columns">

	<div class="container">
    
        <div class="one_fourth">
        
        	<h2><i>Client</i> tools</h2>
            
            <ul class="arrows_list1">
            <li><a href="#">Direct FX</a></li>
            <li><a href="#">Awsome Slidershow</a></li>
            <li><a href="#">Elements</a></li>
            <li><a href="#">Different &amp; Unique Oulook</a></li>
            <li><a href="#">Big and Small options</a></li>
            <li><a href="#">Recent Blogs or News</a></li>
            <li><a href="#">Layered Forecasting</a></li>
			</ul>
             
        </div><!-- end section --> 
        
        <div class="one_fourth">
        	
            <div class="twitter_feed">
            
            	<h2><i>Latest</i> Tweets</h2>
                
                <div class="left"><%= image_tag("twitter-bird.png") %></div>
                <div class="right"><a href="https://twitter.com/directfx" target="_blank">directfx</a>: Eating ice cream is lovely at the opera house.<br />
				<a href="#" class="small">.9 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
                
                <div class="clearfix divider_line4"></div>
                
                <div class="left"><%= image_tag("twitter-bird.png") %></div>
                <div class="right"><a href="https://twitter.com/directfx" target="_blank">directfx</a>: We just partnered with @goldmansachs.<br />
				<a href="#" class="small">.8 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
                
            </div>
        
        </div><!-- end section --> 
        
        <div class="one_fourth">
        
        	<h2><i>Trading</i> Platforms</h2>
            

            
        </div><!-- end section --> 
        
        <div class="one_fourth last">
        
        	<h2><i>newsletter</i> signup</h2>
            
        	<div class="newsletter">
            <p>Please provide your email to get latest information of updates special offers, products or events for free.</p>
           
            <form method="get" action="index.html">   
				<input class="enter_email_input" name="samplees" id="samplees" value="Enter your email address" onFocus="if(this.value == 'Enter your email address') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Enter your email address';}" type="text">
				<input name="" value="subscribe" class="input_submit" type="submit">
			</form>
             
             <div class="rss_feeds">Subscribe to the <a href="#">Direct FX RSS feed</a></div>
             
            </div>
        
        </div><!-- end section -->

</div>
  
</div><!-- end footer all columns --> 

<div class="clearfix divider_line5"></div>

<div class="container">
	<div class="scrollup_area"><a href="#" class="scrollup">i</a></div><!-- end scroll to top of the page-->
</div>

<div class="copyright_info">

    <div class="container">
        This is not intended for the solicitation of US clients. 
Direct FX does not accept clients from The United States of America.


Foreign Exchange trading involves substantial risk of loss and is not suitable for all investors. READ FULL DISCLOSURE. DIRECTFX.COM is compensated through the bid/ask spread and/or commissions on transactions. 

RISK WARNING: Trading of foreign exchange contracts, contracts for difference, derivatives and other investment products which are leveraged, can carry a high level of risk. These products may not be suitable for all investors. It is possible to lose more than your initial investment. You should carefully consider whether trading is suitable for you in light of your circumstances, knowledge, and financial resources. Opinions, market data, and recommendations are subject to change at any time. All funds committed should be risk capital. Past performance is not necessarily indicative of future results. Please read the PDS and FSG before making any decision to trade Direct Fx products. The risks must be understood prior to trading. 

DISCLAIMER: Direct Fx refers to Direct FX Trading Pty Ltd. Direct FX Trading Pty Ltd is an Australian company which is registered with ASIC, ACN 120 189 424 and possesses Australian Financial Services License number 305539. <br><br>
    
        <div class="three_fourth">
        
            <div class="footer_logo"><a href="/"><h1>DirectFX</h1></a></div><!-- end logo -->
            <b>Copyright © Direct FX Trading PTY LTD | ACN 120 189 424 | AFSL No. 305539 | All Rights Reserved  <a href="#">Terms of Use</a>  <a href="#">Privacy Policy</a></b>
            
        </div>
    
    	<div class="one_fourth last">
     		
            <div class="address_info">


            
            	19-21 Hunter Street, Level 2 Sydney, NSW 2000, Australia<br />
                Phone: +61 2 8038-5093<br />
                E-mail: <a href="mailto:support@directfx.com">support@directfx.com</a><br />
            
            </div>
                
    	</div>
    
    </div>
    
</div><!-- end copyright info -->  

</div>
 
</div>

 

</body>
</html>

