<div class="page_title"></div><!-- red stripe --> 

  
<!-- Contant -->

<div class="container" style="padding-left: 10%;">

	<div class="content_fullwidth">
    
<div class="big_text1">Press Releases</div>
  
        <div id="tabs-two">
	
			<ul class="tabs-two fullpage">  
				<li class="active"><a href="#tab-two1">Direct FX partners with First Derivatives</a></li>
				<li class=""><a href="#tab-two2">Direct FX Announces the Acquisition of ODL Australia and Other Major Developments</a></li>
				<li class=""><a href="#tab-two3">Direct FX Becomes First Australian Broker To Partner With Currensee</a></li>
				<li class=""><a href="#tab-two4">Krys Kling joins Direct FX as Global Head of Operations</a></li>
				<li class=""><a href="#tab-two5">Direct FX Expands Team With The Addition of Arthur Urban As Head of Trading & Risk Mgmt</a></li>
				


				
			</ul><!-- /# end tab links -->	 
 
		<div class="tab-container-two fullpage">
            
			<div id="tab-two1" class="tab-content-two fullpage">
				<%= image_tag("press1.png", class: "image_left1") %> 
                <h6>First Published Wednesday, 22nd February 2012 from <%=link_to "Automated Trader", "http://www.automatedtrader.net/headlines/109972/direct-fx-partners-with-first-derivatives", :confirm => "Leave Directfx.com?" %></h6>


				<p>Australia: First Derivatives, the provider of software and consulting services to investment banks, brokers and hedge funds, has announced a partnership with Direct FX, the new online foreign exchange trading company registered in Australia. </p></br>

				<p>Direct FX has selected FD’s Delta trading technology which provides price aggregation, distribution and deal execution supporting their retail and institutional client base.</p></br>

				<p>Direct FX will use FD’s Delta FlowTM solution to provide liquidity and order execution through multiple end client trading platforms such as MT4 and FD’s Margin platform, as well as extending service to API clients. Delta’s risk management capabilities also allow traders direct access to real-time data to optimize the process of sourcing, controlling and distributing multiple pools of liquidity. This capability aims to allow DirectFX to target niche markets and deliver competitive advantage for institutional clients.</p></br>

				<p>Commenting upon the decision to select FD, DirectFX’s Director Robert Martin said: “We have chosen FD to be our primary trading technology partner. FD is a market leader in high frequency price aggregation, execution and risk management and will ensure that DirectFX has and maintains a competitive edge. Following our recent acquisition of Australian forex broker – ODL Australia and further investments in our operational infrastructure, the partnership with FD indicates our commitment to being a leader in online forex trading. Our aim is to offer solutions that are state-of-the-art, cost effective and easy to implement. We have direct access to liquidity from the top global banks which allows us to maintain our competitive edge by providing tighter spreads for our customers.”</p></br>
			</div><!-- end tab single section --> 
            
            
            <div id="tab-two2" class="tab-content-two fullpage">

            <h6>First Published Wednesday, 22nd February 2012 from <%=link_to "Forex Magnates", "http://forexmagnates.com/direct-fx-announces-the-acquisition-of-odl-australia-and-other-major-developments/", :confirm => "Leave Directfx.com?" %></h6>

<p>If anyone needs any more affirmation that the Australian forex market is booming then this announcement by Direct FX that they are launching in Australia after acquiring ODL Australia’s license should suffice. ODL went through the licensing process and were awarded an Australian Financial Services license however never activated it and didn’t have any clients. As in Australia you cannot buy just an AFSL license you need to buy the whole company – and this is what Direct FX did.</p></br>

<p>In the last two weeks we saw an amazing number of global brokers receiving ASIC license – Saxo Bank, Ava Forex, FXOpen and Admiral Markets just to name a few. Several more brokers are awaiting an approval/activation any day now. If that wasn’t enough then Go Markets – Australia’s forex market leader – was acquired by Japanese/Hong Kong based holding Group AIP for undisclosed amount.</p></br>

<p>Direct FX Trading Pty Ltd, a leading online foreign exchange trading company, recently completed an all-cash deal to acquire ODL Australia Pty Ltd.</p></br>

<p>Direct FX is the market leader in trading development, management and delivery of technical information relating to trading and education. Under Direct FX’s corporate umbrella, the company will use the Direct FX Trading name. “Direct FX is excited about procuring its Australian Financial Services License and the ideal complement to Direct FX’s business strategy, and we are looking forward to leveraging that expertise to benefit our customers,” said Director Robert Martin.</p></br>

<p>Direct FX has also made a number of other significant changes to enhance its operations. The firm has teamed up with LaZorne Informatics to create a state-of-the art online application process that dramatically accelerates account approval. The streamlined process allows customers to open accounts and be approved for trading in as little as five minutes. “After completion of the application, more than 95 percent of applicants will be approved in 10 minutes,” Martin said. “Most firms take 24 to 48 hours to approve an account.”</p></br>

<p>Direct FX also recently contracted with First Derivatives for bank software that facilitates price aggregation. Direct FX has top tier liquidity and operates with a Straight Through Processing (STP) model. This allows for tighter spreads to the customer, according to Martin.</p></br>

<p>Based in Sydney, Australia, Direct FX provides online trading in spot forex, metals and CFDs (Contracts for Difference). The company offers the easy-to-use MetaTrader 4 trading platform and makes markets in 31 currency pairs, including the Indian Rupee. They also make markets in the metals complex.Direct FX has very competitive spreads and is licensed (#305539) by the Australian Securities and Investment Commission, one of the most respected regulatory agencies in the world. In addition, the company is a leader in education and EAs (Expert Advisors). “We currently offer EAs on seven currency pairs and have just released a new-gold EA,” Martin said. “We have a dedicated staff of programmers available to create customer EAs.”

<p>For more information about Direct FX, please visit www.directfx.com or contact Robert Martin at +61 2 8038-5093.</p></br>

<p>About Direct FX Pty Ltd</p></br>

<p>Direct FX Trading Pty Ltd was founded in 2006 by professional traders and foreign exchange industry veterans to provide forex traders with a fair trading environment. Since then, Direct FX has grown into a leading online foreign exchange trading company that serves the needs of retail and institutional forex traders worldwide. The company offers individual, joint, and corporate accounts as well as a full menu of services for institutional investors and asset managers, including the MT4 multi-terminal solution. Direct FX is owned by 6 partners who each have more than 20 years of experience in the forex and trading industry. They are members of the Chicago Mercantile Exchange, the Chicago Board of Trade and the Chicago Stock Exchange.</p>
			</div><!-- end tab single section -->
            
            
            <div id="tab-two3" class="tab-content-two fullpage">	


            <h6>First Published Thursday, 16th August 2012 from <%=link_to "Forex Magnates", "http://forexmagnates.com/direct-fx-becomes-first-australian-broker-to-partner-with-currensee/", :confirm => "Leave Directfx.com?" %></h6>

<p>Direct FX, and online retail Forex trading company that is licensed by the ASIC, announced today that it has partnered with alternative investment service Currensee. According to Robert Martin, Managing Director at Direct FX, they are the first ASIC licensed broker to partner with Currensee. This will enable them to offer Currensee’s Managed Account services that until now were unavailable in Australia.</p> </br>

<p>SYDNEY, Australia (Aug. 16, 2012) – Leading online trading company Direct FX Trading Pty Ltd is partnering with Currensee, the industry’s first foreign exchange (Forex) alternative investment service, by offering the Currensee Trade Leaders™ Investment Program to Direct FX clients.</p></br>

<p>The Currensee Trade Leaders Investment Program provides investors and financial institutions with innovative access to the world currency markets in a first-of-its-kind, transparent, convenient and trusted way. Using Currensee, investors can build their own “fund” of emerging Forex managers called Trade Leaders. Once the investor selects their Trade Leaders, when the Trade Leaders trade, those trades are automatically executed in the investor’s accounts. The program also provides robust risk management controls, real-time portfolios changes and unique diversification by leveraging the uncorrelated returns of the Forex market. Trade Leaders must pass a significant due diligence process in order to become part of the program and are reviewed on a regular basis once they are approved. Customers can allocate funds to whichever Trade Leaders they prefer, and trades are replicated using the Currensee Trade Replication™ technology. There are multiple traders and trading styles from which to choose, which provides a great deal of flexibility for investors and a new level of diversification within a single portfolio.</p></br>

<p>“Here at Direct FX, we are constantly looking for innovative products and services to offer our clients new ways to invest in the growing Forex market. Currensee delivers some of the top Forex managers in the world in an easy-to-use platform that gives investors full transparency and control,” said Director Nick Hammer. “The Trade Leaders program opens the world of Forex to people who may not know how to trade but who want to take advantage of the market. We are extremely pleased to be able to offer this investment service to our investors.”</p></br>

<p>Participating in the Currensee Trade Leader investment program gives Direct FX a turnkey way to offer foreign exchange investment services to their clients. The strategic partnership is important because it positions Direct FX to expand their offerings, add value and, ultimately, grow their business. It also provides the company with valuable access to Currensee’s Risk Management Control Center™, which includes professional-level risk control tools to help investors manage risk and exposure.</p></br>

<p>Currensee is the leader in bringing the world currency markets to investors and financial institutions around the world as a viable alternative asset class. The company’s Trade Leaders Investment Program represents a select network of emerging foreign exchange managers recruited by Currensee through a rigorous due diligence process. By taking advantage of the Currensee advanced trade replication technology, an investor in New York automatically receives the trades of a Trade Leader based in China. This gives firms such as Direct FX the ability to capitalize on a diversified portfolio of managers and provides investors with new access to the $4T daily Forex market without having to know how to trade.</p></br>

<p>As an online trading firm, Direct FX is always striving to leverage technology for the benefit of its investors. The company recently contracted with First Derivatives bank software to provide competitive spreads. Direct FX also joined forces with LaZorne Informatics to create a streamlined online application process that enables customers to open accounts and be approved for trading in as little as five minutes. “We are strongly committed to offering our investors a diverse product offering,” Martin said.</p></br>

<p>In addition to implementing state-of-the-art software, Direct FX is concentrating on expanding its operations through business acquisitions. Earlier this year, Direct FX announced the completion of an all-cash deal to acquire ODL Australia Pty Ltd. The acquisition enabled Direct FX to procure its Australian Financial Services License and served to enhance the company’s growth strategy.</p></br>

<p>For more information about Direct FX, please visit www.directfx.com or contact Robert Martin at
+61 2 8038-5093.</p></br>

<p>About Direct FX Pty Ltd</p>
<p>Based in Sydney, Australia, Direct FX is an online trading firm that specializes in spot Forex, metals and CFDs (Contracts for Difference). The company—which is distinguished by its very competitive spreads—caters to retail and institutional Forex traders worldwide and offers individual, joint, and corporate accounts. Direct FX is licensed (#305539) by the Australian Securities and Investment Commission, one of the most highly-respected regulatory agencies in the world. Founded in 2006, Direct FX is owned by six partners who each have more than 20 years of experience in the Forex and trading industry. They are members of the Chicago Mercantile Exchange, the Chicago Board of Trade and the Chicago Stock Exchange.</p></br>

<p>About Currensee</p>
<p>Currensee is the industry’s first Forex alternative investment service providing investors and financial institutions with access to the world currency markets in a first-of-its-kind, transparent, convenient and trusted way. Using Currensee, investors can build their own “fund” of emerging Forex managers, control risk, make real-time portfolios changes and achieve diversification by leveraging the uncorrelated returns of the Forex market. Currensee is funded by North Bridge Venture Partners, Egan-Managed Capital and Vernon & Park Capital. Currensee is registered with the Commodity Futures Trading Commission (CFTC) as an Introducing Broker (IB) and is a member of the National Futures Association (NFA) member number 0403251. Currensee is also authorized by the Financial Services Authority (FSA), firm reference number 518648, and registered in England and Wales, companies’ house number 07025997. For more information, visit Currensee at www.currensee.com.</p>
			</div><!-- end tab single section -->

			 <div id="tab-two4" class="tab-content-two fullpage">	

			 	<h6>First Published Saturday, 23rd June 2012 from <%=link_to "Forex Magnates", "http://forexmagnates.com/krys-kling-joins-directfx-com-as-global-head-of-operations/", :confirm => "Leave Directfx.com?" %></h6>

<p>DirectFX brings on seasoned financial expert in move to dominate the global Forex Market.</p></br>

<p>SYDNEY, AUSTRALIA, June 15, 2013, In an effort to broaden their exposure to the global Forex market, DirectFX announced that financial expert <span class="blue highlight">Krys Kling</span> has joined the firm as its Global Head of Operations. The addition of Mr. Kling adds strength to the DirectFX Team, according to a company spokesperson.</p></br>

<p>Mr. Kling recently finished a 14 year stint with Peregrine Financial Group, Inc. where he acted as Managing Director for the past 6 years. Mr. Kling has a wealth of experience in all aspects of foreign exchange, including proprietary trading, trade aggregation, books and records systems, platform integrations, trading systems, bank and prime broker relations, global currency payments, spot metals, NDFs, swaps and options.</p></br>

<p>DirectFX explains that Mr. Kling is a recognized industry leader with professional-level expertise in all areas of the industry. He acted as the liaison with banks having managed FX liquidity to 18-bank and non-bank providers among his many roles. Mr. Kling is joining a team that has proven the ability to take DirectFX.com from it’s start in 2006, to becoming a leading foreign exchange firm, with offices around the world.</p></br>

<p>DirectFX is involved with every facet of the Forex Industry. Their global management team consists of managing partners, with experience in Forex and commodity futures, banking, physical metals dealing, floor brokering, and trading at the CBOT and CME. Direct Fx is an Australian owned financial services company that is regulated and licensed by the Australian Securities and Investment Commission. License number 305539.</p></br>

<p>For complete information, visit: www.directfx.com</p></br>

<p>Media Contact:robert.martin@directfx.com</p></br>

<p>Direct FX Trading Pty Ltd</br>
Attn: Press</br>
19-21 Hunter Street,</br>
Level Two</br>
Sydney, NSW 2000, AU</br>
+61 2 8038-5093</p>
				
			</div><!-- end tab single section -->

			<div id="tab-two5" class="tab-content-two fullpage">

<p><span class="blue highlight">Arthur Urban, CFA</span> brings his skills to the DirectFX Team to help fuel the firm’s expansion.</p></br>

<p>SYDNEY, AUSTRALIA, June 27, 2013, DirectFX made another strategic move by hiring Arthur Urban. The skills that Arthur brings to the team will be well utilized to help fuel their expansion throughout the world. His position will be that of Head of Trading and Risk Management. Arthur Urban is well respected for his expertise and trading acumen. He spent the past 5 years at a proprietary trading firm, trading a wide variety of products including FX, Treasury, Equity, and Agricultural Futures, as well as ETF’s. Arthur developed high frequency algorithms in addition to managing a portfolio of trading strategies and risks.</p></br>

<p>Industry insiders have commented that DirectFX made a smart move by bringing Arthur to the firm. A DirectFX spokesperson made these comments during a recent interview: “As you all know, we are very serious about becoming the dominant player in Global FX. Every new member of our team is part of our strategy, another piece in the strategic-puzzle, to fuel our capabilities, and in turn, fuel our growth.”</p></br>

<p>There is no facet of the Forex Industry that DirectFX is not involved in. The firm has assembled a global management team, consisting of managing partners, each possessing skills only found with more seasoned financial professionals. Amongst these individuals is an unprecedented level of experience in forex and commodities brokering, banking, physical metals dealing, floor brokering, and trading at the CBOT and CME.</p></br>

<p>DirectFX has acquired the skills to take advantage of the current online-trading software platforms, and develop their own applications as well. Their clients can take advantage of several online-trading platforms.</p></br>

<p>Directfx.com is an Australian owned financial services company that is regulated and licensed by the Australian Securities and Investment Commission. All client’s funds are protected by Professional Indemnity Insurance.</p>	
	
			</div><!-- end tab single section -->

		</div>
		
		</div><!-- end tab -->
        
        

        
    
	</div>

</div><!-- end main content area -->

<div class="mar_top5"></div>
